#####################################################
# Common Local Config Files
#####################################################
TODO.md
CLAUDE.md
.vscode

#####################################################
# Environments
#####################################################
.venv
.env
*.db
*.sqlite3

#####################################################
# Files
#####################################################
*.epub
*.bak
